In [ ]:
"""
[] : 리스트(python), 배열(numpy)
{} : 딕션너리
() : 튜플

[(), ()] --> [{컬럼명1:값, 컬럼명2:값, ....}, {}]
"""

In [1]:
# 배열 [] 같은타입만 넣을수있다.
a = [1, 2]

# 리스트 [] 어떤타입이든, 어떤 객체든 넣을수 있다.
b = 1
#a = [b, 1.2, "1234", {[], }, ({[]})]
a = [b, 1.2, "1234"]

In [4]:
# 일반변수 
name = "홍길동"
age = 21
print("이름 = ", name, " / 나이=", age)
print("이름 = {} / 나이 = {}".format(name, age))

이름 =  홍길동  / 나이= 21
이름 = 홍길동 / 나이 = 21

In [7]:
name = 1
name

1

In [10]:
list_v = []
list_v = [1, "홍길동"]
list_v[1]

'홍길동'

In [20]:
dict_v = {}
dict_v = {"name" : "홍길동", 
          "age" : 21,
          "list_v" : list_v}
dict_v
dict_v["name"]
dict_v["age"]
dict_v["list_v"][1]

dict_v.values()  # 값들만 추출
dict_v.keys()    # key값만 추출
dict_v.items()   #key와 값의 세트로 추출

dict_items([('name', '홍길동'), ('age', 21), ('list_v', [1, '홍길동'])])

In [24]:
# 튜플은 수정이안됨, 리스트는 수정 가능
tu_v = ()
tu_v = (1, "홍길동", list_v, dict_v)
tu_v
tu_v[0]
tu_v[2]
tu_v[3]

{'name': '홍길동', 'age': 21, 'list_v': [1, '홍길동']}

In [25]:
list_v

[1, '홍길동']

In [28]:
# 리스트에 값 추가하기
list_v.append("홍길동2")
list_v

[1, '홍길동', '홍길동3', '홍길동2', '홍길동2']

In [33]:
list_v[4] = "홍길동3"
list_v
len(list_v)

5

In [32]:
### for문을 이용해서 리스트의 값 출력하기 
# 내가 한거
for i in list_v:
    print(i)

1
홍길동
홍길동3
홍길동2
홍길동3

In [34]:
### for문을 이용해서 리스트의 값 출력하기
# (인텍스 번호)를 이용하는 방식
for i in range(0, len(list_v), 1) :
    print(list_v[i])

1
홍길동
홍길동3
홍길동2
홍길동3

In [35]:
### for문을 이용해서 리스트의 값 출력하기
# (값을 이용하는 방식)
for val in list_v : 
    print(val)

1
홍길동
홍길동3
홍길동2
홍길동3

In [43]:
### list_v2 변수 선언
### 값을 1부터 100까지 추가해 주세요.
list_v2 = []
for i in range(1, 101, 1) :
    list_v2.append(i)
    
list_v2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [44]:
dict_v

{'name': '홍길동', 'age': 21, 'list_v': [1, '홍길동', '홍길동3', '홍길동2', '홍길동3']}

In [45]:
dict_v["add"] = "세종" # 기존에 없는값이면 추가

In [46]:
dict_v

{'name': '홍길동',
 'age': 21,
 'list_v': [1, '홍길동', '홍길동3', '홍길동2', '홍길동3'],
 'add': '세종'}

In [47]:
dict_v["add"] = "세종2" # 기존에 있는값이면 수정

In [48]:
dict_v

{'name': '홍길동',
 'age': 21,
 'list_v': [1, '홍길동', '홍길동3', '홍길동2', '홍길동3'],
 'add': '세종2'}

In [51]:
dict_v.keys()

dict_keys(['name', 'age', 'list_v', 'add'])

In [52]:
### key값을 이용해서 value값을 출력하는 for문 만들기
for k in dict_v :    # for k in dict_v.keys() :  와 동일
    print(dict_v[k])

홍길동
21
[1, '홍길동', '홍길동3', '홍길동2', '홍길동3']
세종2

In [64]:
### 딕셔너리의 list_v 키에 대한 값을 추출 ---> 내가 한거
dict_v["list_v"]

for i in dict_v["list_v"] :
    print(i)

1
홍길동
홍길동3
홍길동2
홍길동3

In [65]:
### 딕셔너리의 list_v 키에 대한 값을 추출 ---> 강사님이 알려주신거
for k in dict_v :
    #print(k)
    if k == "list_v" :
        #print(k)
        for v in dict_v[k] :
            print(v)

1
홍길동
홍길동3
홍길동2
홍길동3

In [ ]:
list_v2 = []
dict_v1 = {}
dict_v2 = {}
dict_v3 = {}
"""위 변수를 이용해서 아래처럼 만들어 주세요..
[{1: '홍길동1', 2: '홍길동2'},
 {1: '이순신1', 2: '이순신2'},
 {1: '강감찬1', 2: '강감찬2'}]
"""

In [69]:
# 내가 한거임
dict_v1 = {1: '홍길동1', 2: '홍길동2'}
dict_v2 = {1: '이순신1', 2: '이순신2'}
dict_v3 = {1: '강감찬1', 2: '강감찬2'}
list_v2 = [dict_v1, dict_v2, dict_v3]
list_v2

[{1: '홍길동1', 2: '홍길동2'}, {1: '이순신1', 2: '이순신2'}, {1: '강감찬1', 2: '강감찬2'}]

In [71]:
# 강사님이 알려주신거
list_v2 = []
dict_v1[1] = "홍길동1"
dict_v1[2] = "홍길동2" 
dict_v1
list_v2.append(dict_v1)

In [72]:
list_v2

[{1: '홍길동1', 2: '홍길동2'}]

In [73]:
dict_v2[1] = "이순신1"
dict_v2[2] = "이순신2" 
dict_v2
list_v2.append(dict_v2)

In [74]:
list_v2

[{1: '홍길동1', 2: '홍길동2'}, {1: '이순신1', 2: '이순신2'}]

In [75]:
dict_v3[1] = "강감찬1"
dict_v3[2] = "강감찬2" 
dict_v3
list_v2.append(dict_v3)

In [76]:
list_v2

[{1: '홍길동1', 2: '홍길동2'}, {1: '이순신1', 2: '이순신2'}, {1: '강감찬1', 2: '강감찬2'}]

In [93]:
"""
key : 1 / values : 홍길동1
key : 2 / values : 홍길동2
key : 1 / values : 이순신1
key : 2 / values : 이순신2
key : 1 / values : 강감찬1
key : 2 / values : 강감찬2

이렇게 출력해보세요.
"""

# 리스트 처리
for d in list_v2 :
    #print(d)
    # 딕셔너리 처리
    for k in d : 
        #print(d[k])
        print("key : {} / values {}".format(k, d[k]))

key : 1 / values 홍길동1
key : 2 / values 홍길동2
key : 1 / values 이순신1
key : 2 / values 이순신2
key : 1 / values 강감찬1
key : 2 / values 강감찬2

In [101]:
## "강감찬1"이 있는 딕셔너리의 key와 values 값만 출력해주세요.
# - key : 1  / values : 강감찬1

# 리스트 처리
for d in list_v2 :
    #print(d) 
    # 딕셔너리 처리
    for k in d : 
        #print(d[k])
        if d[k] == '강감찬1' :
            print("key : {} / values {}".format(k, d[k]))
            break

key : 1 / values 강감찬1

In [115]:
### "강감찬1" 이라는 값이 포함되어 있는
# 딕션너리의 전체 key와 values 값을 출력해 주세요.
""" 출력값..
key : 1 / values : 강감찬1
key : 2 / values : 강감찬2
"""


# 리스트 처리
for d in list_v2 :
    print(d.values())  
    if "강감찬1" in d.values() : 
        for k in d :
            print("key : {} / values {}".format(k, d[k]))
        break

dict_values(['홍길동1', '홍길동2'])
dict_values(['이순신1', '이순신2'])
dict_values(['강감찬1', '강감찬2'])
key : 1 / values 강감찬1
key : 2 / values 강감찬2

# 딕셔너리 처리

In [125]:
ditc_1 = {}
list_c1 = []
list_c2 = []
list_c3 = []

""" 아래처럼 딕셔너리를 출력해 주세요.
{'name': ['홍길동1','홍길동2','홍길동3'],
 'age': ['18', '20', '25'],
 'local': ['서울', '경기', '대전']}
"""

" 아래처럼 딕셔너리를 출력해 주세요.\n{'name': ['홍길동1','홍길동2','홍길동3'],\n 'age': ['18', '20', '25'],\n 'local': ['서울', '경기', '대전']}\n"

In [126]:
list_c1.append("홍길동1")
list_c1.append("홍길동2")
list_c1.append("홍길동3")
ditc_1["name"] = list_c1

In [127]:
list_c2.append("18")
list_c2.append("20")
list_c2.append("25")
ditc_1["age"] = list_c2

In [128]:
list_c3.append("18")
list_c3.append("20")
list_c3.append("25")
ditc_1["local"] = list_c3

In [130]:
ditc_1

{'name': ['홍길동1', '홍길동2', '홍길동3'],
 'age': ['18', '20', '25'],
 'local': ['18', '20', '25']}

In [138]:
"""
key : name / values : 홍길동1
key : name / values : 홍길동2
key : name / values : 홍길동3
key : age / values : 18
key : age / values : 20
key : age / values : 25
key : local / values : 서울
key : local / values : 경기
key : local / values : 대전
"""

for k in ditc_1 :
    #print(k)
    for v in ditc_1[k] :  # dict_1[k] 가 리스트임
        print("key : {} / values {}".format(k, v))

key : name / values 홍길동1
key : name / values 홍길동2
key : name / values 홍길동3
key : age / values 18
key : age / values 20
key : age / values 25
key : local / values 18
key : local / values 20
key : local / values 25

In [ ]:
"""
{'name': ['홍길동1', '홍길동2'....., '홍길동100'],
 'age': [1, 2, ~ , 100],
 'local': ['서울1', '서울2'....., '서울100']}
"""

In [145]:
# 내가 한거...
ditc_11 = {}
list_c11 = []
list_c21 = []
list_c31 = []

In [146]:
for i in range(1,101, 1) :
    list_c11.append("홍길동"+str(i))

In [148]:
ditc_1["name"] = list_c11

In [150]:
ditc_1

{'name': ['홍길동1',
  '홍길동2',
  '홍길동3',
  '홍길동4',
  '홍길동5',
  '홍길동6',
  '홍길동7',
  '홍길동8',
  '홍길동9',
  '홍길동10',
  '홍길동11',
  '홍길동12',
  '홍길동13',
  '홍길동14',
  '홍길동15',
  '홍길동16',
  '홍길동17',
  '홍길동18',
  '홍길동19',
  '홍길동20',
  '홍길동21',
  '홍길동22',
  '홍길동23',
  '홍길동24',
  '홍길동25',
  '홍길동26',
  '홍길동27',
  '홍길동28',
  '홍길동29',
  '홍길동30',
  '홍길동31',
  '홍길동32',
  '홍길동33',
  '홍길동34',
  '홍길동35',
  '홍길동36',
  '홍길동37',
  '홍길동38',
  '홍길동39',
  '홍길동40',
  '홍길동41',
  '홍길동42',
  '홍길동43',
  '홍길동44',
  '홍길동45',
  '홍길동46',
  '홍길동47',
  '홍길동48',
  '홍길동49',
  '홍길동50',
  '홍길동51',
  '홍길동52',
  '홍길동53',
  '홍길동54',
  '홍길동55',
  '홍길동56',
  '홍길동57',
  '홍길동58',
  '홍길동59',
  '홍길동60',
  '홍길동61',
  '홍길동62',
  '홍길동63',
  '홍길동64',
  '홍길동65',
  '홍길동66',
  '홍길동67',
  '홍길동68',
  '홍길동69',
  '홍길동70',
  '홍길동71',
  '홍길동72',
  '홍길동73',
  '홍길동74',
  '홍길동75',
  '홍길동76',
  '홍길동77',
  '홍길동78',
  '홍길동79',
  '홍길동80',
  '홍길동81',
  '홍길동82',
  '홍길동83',
  '홍길동84',
  '홍길동85',
  '홍길동86',
  '홍길동87',
  '홍길동88',
  '홍길동89',
  '홍길동90',
  '홍길동91',
  '홍길동92',
  '홍길동93',
  '홍길동94',
  '홍길동95',
  '홍길동96',
  '홍길동97',
  '홍길동98',
  '홍길동99',
  '홍길동100'],
 'age': ['18', '20', '25'],
 'local': ['18', '20', '25']}

In [151]:
for i in range(1,101, 1) :
    list_c21.append(str(i))
    
ditc_1["age"] = list_c21

In [152]:
for i in range(1,101, 1) :
    list_c31.append("서울"+str(i))
    
ditc_1["age"] = list_c31

In [153]:
ditc_1

{'name': ['홍길동1',
  '홍길동2',
  '홍길동3',
  '홍길동4',
  '홍길동5',
  '홍길동6',
  '홍길동7',
  '홍길동8',
  '홍길동9',
  '홍길동10',
  '홍길동11',
  '홍길동12',
  '홍길동13',
  '홍길동14',
  '홍길동15',
  '홍길동16',
  '홍길동17',
  '홍길동18',
  '홍길동19',
  '홍길동20',
  '홍길동21',
  '홍길동22',
  '홍길동23',
  '홍길동24',
  '홍길동25',
  '홍길동26',
  '홍길동27',
  '홍길동28',
  '홍길동29',
  '홍길동30',
  '홍길동31',
  '홍길동32',
  '홍길동33',
  '홍길동34',
  '홍길동35',
  '홍길동36',
  '홍길동37',
  '홍길동38',
  '홍길동39',
  '홍길동40',
  '홍길동41',
  '홍길동42',
  '홍길동43',
  '홍길동44',
  '홍길동45',
  '홍길동46',
  '홍길동47',
  '홍길동48',
  '홍길동49',
  '홍길동50',
  '홍길동51',
  '홍길동52',
  '홍길동53',
  '홍길동54',
  '홍길동55',
  '홍길동56',
  '홍길동57',
  '홍길동58',
  '홍길동59',
  '홍길동60',
  '홍길동61',
  '홍길동62',
  '홍길동63',
  '홍길동64',
  '홍길동65',
  '홍길동66',
  '홍길동67',
  '홍길동68',
  '홍길동69',
  '홍길동70',
  '홍길동71',
  '홍길동72',
  '홍길동73',
  '홍길동74',
  '홍길동75',
  '홍길동76',
  '홍길동77',
  '홍길동78',
  '홍길동79',
  '홍길동80',
  '홍길동81',
  '홍길동82',
  '홍길동83',
  '홍길동84',
  '홍길동85',
  '홍길동86',
  '홍길동87',
  '홍길동88',
  '홍길동89',
  '홍길동90',
  '홍길동91',
  '홍길동92',
  '홍길동93',
  '홍길동94',
  '홍길동95',
  '홍길동96',
  '홍길동97',
  '홍길동98',
  '홍길동99',
  '홍길동100'],
 'age': ['서울1',
  '서울2',
  '서울3',
  '서울4',
  '서울5',
  '서울6',
  '서울7',
  '서울8',
  '서울9',
  '서울10',
  '서울11',
  '서울12',
  '서울13',
  '서울14',
  '서울15',
  '서울16',
  '서울17',
  '서울18',
  '서울19',
  '서울20',
  '서울21',
  '서울22',
  '서울23',
  '서울24',
  '서울25',
  '서울26',
  '서울27',
  '서울28',
  '서울29',
  '서울30',
  '서울31',
  '서울32',
  '서울33',
  '서울34',
  '서울35',
  '서울36',
  '서울37',
  '서울38',
  '서울39',
  '서울40',
  '서울41',
  '서울42',
  '서울43',
  '서울44',
  '서울45',
  '서울46',
  '서울47',
  '서울48',
  '서울49',
  '서울50',
  '서울51',
  '서울52',
  '서울53',
  '서울54',
  '서울55',
  '서울56',
  '서울57',
  '서울58',
  '서울59',
  '서울60',
  '서울61',
  '서울62',
  '서울63',
  '서울64',
  '서울65',
  '서울66',
  '서울67',
  '서울68',
  '서울69',
  '서울70',
  '서울71',
  '서울72',
  '서울73',
  '서울74',
  '서울75',
  '서울76',
  '서울77',
  '서울78',
  '서울79',
  '서울80',
  '서울81',
  '서울82',
  '서울83',
  '서울84',
  '서울85',
  '서울86',
  '서울87',
  '서울88',
  '서울89',
  '서울90',
  '서울91',
  '서울92',
  '서울93',
  '서울94',
  '서울95',
  '서울96',
  '서울97',
  '서울98',
  '서울99',
  '서울100'],
 'local': ['18', '20', '25']}

In [155]:
# 강사님이 알려주신거
dict_class = {}
list_name = []
list_age = []
list_local = []

for i in range(1,101, 1) :
    list_name.append("홍길동{}".format(i))
    list_age.append(i)
    list_local.append("서울{}".format(i))

dict_class["name"] = list_name
dict_class["age"] = list_age
dict_class["local"] = list_local

In [156]:
dict_class

{'name': ['홍길동1',
  '홍길동2',
  '홍길동3',
  '홍길동4',
  '홍길동5',
  '홍길동6',
  '홍길동7',
  '홍길동8',
  '홍길동9',
  '홍길동10',
  '홍길동11',
  '홍길동12',
  '홍길동13',
  '홍길동14',
  '홍길동15',
  '홍길동16',
  '홍길동17',
  '홍길동18',
  '홍길동19',
  '홍길동20',
  '홍길동21',
  '홍길동22',
  '홍길동23',
  '홍길동24',
  '홍길동25',
  '홍길동26',
  '홍길동27',
  '홍길동28',
  '홍길동29',
  '홍길동30',
  '홍길동31',
  '홍길동32',
  '홍길동33',
  '홍길동34',
  '홍길동35',
  '홍길동36',
  '홍길동37',
  '홍길동38',
  '홍길동39',
  '홍길동40',
  '홍길동41',
  '홍길동42',
  '홍길동43',
  '홍길동44',
  '홍길동45',
  '홍길동46',
  '홍길동47',
  '홍길동48',
  '홍길동49',
  '홍길동50',
  '홍길동51',
  '홍길동52',
  '홍길동53',
  '홍길동54',
  '홍길동55',
  '홍길동56',
  '홍길동57',
  '홍길동58',
  '홍길동59',
  '홍길동60',
  '홍길동61',
  '홍길동62',
  '홍길동63',
  '홍길동64',
  '홍길동65',
  '홍길동66',
  '홍길동67',
  '홍길동68',
  '홍길동69',
  '홍길동70',
  '홍길동71',
  '홍길동72',
  '홍길동73',
  '홍길동74',
  '홍길동75',
  '홍길동76',
  '홍길동77',
  '홍길동78',
  '홍길동79',
  '홍길동80',
  '홍길동81',
  '홍길동82',
  '홍길동83',
  '홍길동84',
  '홍길동85',
  '홍길동86',
  '홍길동87',
  '홍길동88',
  '홍길동89',
  '홍길동90',
  '홍길동91',
  '홍길동92',
  '홍길동93',
  '홍길동94',
  '홍길동95',
  '홍길동96',
  '홍길동97',
  '홍길동98',
  '홍길동99',
  '홍길동100'],
 'age': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100],
 'local': ['서울1',
  '서울2',
  '서울3',
  '서울4',
  '서울5',
  '서울6',
  '서울7',
  '서울8',
  '서울9',
  '서울10',
  '서울11',
  '서울12',
  '서울13',
  '서울14',
  '서울15',
  '서울16',
  '서울17',
  '서울18',
  '서울19',
  '서울20',
  '서울21',
  '서울22',
  '서울23',
  '서울24',
  '서울25',
  '서울26',
  '서울27',
  '서울28',
  '서울29',
  '서울30',
  '서울31',
  '서울32',
  '서울33',
  '서울34',
  '서울35',
  '서울36',
  '서울37',
  '서울38',
  '서울39',
  '서울40',
  '서울41',
  '서울42',
  '서울43',
  '서울44',
  '서울45',
  '서울46',
  '서울47',
  '서울48',
  '서울49',
  '서울50',
  '서울51',
  '서울52',
  '서울53',
  '서울54',
  '서울55',
  '서울56',
  '서울57',
  '서울58',
  '서울59',
  '서울60',
  '서울61',
  '서울62',
  '서울63',
  '서울64',
  '서울65',
  '서울66',
  '서울67',
  '서울68',
  '서울69',
  '서울70',
  '서울71',
  '서울72',
  '서울73',
  '서울74',
  '서울75',
  '서울76',
  '서울77',
  '서울78',
  '서울79',
  '서울80',
  '서울81',
  '서울82',
  '서울83',
  '서울84',
  '서울85',
  '서울86',
  '서울87',
  '서울88',
  '서울89',
  '서울90',
  '서울91',
  '서울92',
  '서울93',
  '서울94',
  '서울95',
  '서울96',
  '서울97',
  '서울98',
  '서울99',
  '서울100']}

In [ ]:
"""
{'name' : ['홍길동1', '홍길동2', ...'홍길동100'],
 'age' : [1, 2, ... , 100],
 'local' : ['서울1','서울2',..., '서울100']}
 
dict_class

아래처럼 바꿔서 출력해보기

[{"name" : '홍길동1', "age" : 1, "local" : "서울1"},
 {"name" : '홍길동2', "age" : 2, "local" : "서울2"},
 ...
 {"name" : '홍길동100', "age" : 100, "local" : "서울100"},]
"""

In [165]:
# 강사님이 알려주신거
list_temp = []
for i in range(0, len(dict_class["name"])) : 
    #print(dict_class["name"][i])
    dict_temp = {}
    dict_temp["name"] = dict_class["name"][i]
    dict_temp["age"] = dict_class["age"][i]
    dict_temp["local"] = dict_class["local"][i]
    list_temp.append(dict_temp)
list_temp

[{'name': '홍길동1', 'age': 1, 'local': '서울1'},
 {'name': '홍길동2', 'age': 2, 'local': '서울2'},
 {'name': '홍길동3', 'age': 3, 'local': '서울3'},
 {'name': '홍길동4', 'age': 4, 'local': '서울4'},
 {'name': '홍길동5', 'age': 5, 'local': '서울5'},
 {'name': '홍길동6', 'age': 6, 'local': '서울6'},
 {'name': '홍길동7', 'age': 7, 'local': '서울7'},
 {'name': '홍길동8', 'age': 8, 'local': '서울8'},
 {'name': '홍길동9', 'age': 9, 'local': '서울9'},
 {'name': '홍길동10', 'age': 10, 'local': '서울10'},
 {'name': '홍길동11', 'age': 11, 'local': '서울11'},
 {'name': '홍길동12', 'age': 12, 'local': '서울12'},
 {'name': '홍길동13', 'age': 13, 'local': '서울13'},
 {'name': '홍길동14', 'age': 14, 'local': '서울14'},
 {'name': '홍길동15', 'age': 15, 'local': '서울15'},
 {'name': '홍길동16', 'age': 16, 'local': '서울16'},
 {'name': '홍길동17', 'age': 17, 'local': '서울17'},
 {'name': '홍길동18', 'age': 18, 'local': '서울18'},
 {'name': '홍길동19', 'age': 19, 'local': '서울19'},
 {'name': '홍길동20', 'age': 20, 'local': '서울20'},
 {'name': '홍길동21', 'age': 21, 'local': '서울21'},
 {'name': '홍길동22', 'age': 22, 'local': '서울22'},
 {'name': '홍길동23', 'age': 23, 'local': '서울23'},
 {'name': '홍길동24', 'age': 24, 'local': '서울24'},
 {'name': '홍길동25', 'age': 25, 'local': '서울25'},
 {'name': '홍길동26', 'age': 26, 'local': '서울26'},
 {'name': '홍길동27', 'age': 27, 'local': '서울27'},
 {'name': '홍길동28', 'age': 28, 'local': '서울28'},
 {'name': '홍길동29', 'age': 29, 'local': '서울29'},
 {'name': '홍길동30', 'age': 30, 'local': '서울30'},
 {'name': '홍길동31', 'age': 31, 'local': '서울31'},
 {'name': '홍길동32', 'age': 32, 'local': '서울32'},
 {'name': '홍길동33', 'age': 33, 'local': '서울33'},
 {'name': '홍길동34', 'age': 34, 'local': '서울34'},
 {'name': '홍길동35', 'age': 35, 'local': '서울35'},
 {'name': '홍길동36', 'age': 36, 'local': '서울36'},
 {'name': '홍길동37', 'age': 37, 'local': '서울37'},
 {'name': '홍길동38', 'age': 38, 'local': '서울38'},
 {'name': '홍길동39', 'age': 39, 'local': '서울39'},
 {'name': '홍길동40', 'age': 40, 'local': '서울40'},
 {'name': '홍길동41', 'age': 41, 'local': '서울41'},
 {'name': '홍길동42', 'age': 42, 'local': '서울42'},
 {'name': '홍길동43', 'age': 43, 'local': '서울43'},
 {'name': '홍길동44', 'age': 44, 'local': '서울44'},
 {'name': '홍길동45', 'age': 45, 'local': '서울45'},
 {'name': '홍길동46', 'age': 46, 'local': '서울46'},
 {'name': '홍길동47', 'age': 47, 'local': '서울47'},
 {'name': '홍길동48', 'age': 48, 'local': '서울48'},
 {'name': '홍길동49', 'age': 49, 'local': '서울49'},
 {'name': '홍길동50', 'age': 50, 'local': '서울50'},
 {'name': '홍길동51', 'age': 51, 'local': '서울51'},
 {'name': '홍길동52', 'age': 52, 'local': '서울52'},
 {'name': '홍길동53', 'age': 53, 'local': '서울53'},
 {'name': '홍길동54', 'age': 54, 'local': '서울54'},
 {'name': '홍길동55', 'age': 55, 'local': '서울55'},
 {'name': '홍길동56', 'age': 56, 'local': '서울56'},
 {'name': '홍길동57', 'age': 57, 'local': '서울57'},
 {'name': '홍길동58', 'age': 58, 'local': '서울58'},
 {'name': '홍길동59', 'age': 59, 'local': '서울59'},
 {'name': '홍길동60', 'age': 60, 'local': '서울60'},
 {'name': '홍길동61', 'age': 61, 'local': '서울61'},
 {'name': '홍길동62', 'age': 62, 'local': '서울62'},
 {'name': '홍길동63', 'age': 63, 'local': '서울63'},
 {'name': '홍길동64', 'age': 64, 'local': '서울64'},
 {'name': '홍길동65', 'age': 65, 'local': '서울65'},
 {'name': '홍길동66', 'age': 66, 'local': '서울66'},
 {'name': '홍길동67', 'age': 67, 'local': '서울67'},
 {'name': '홍길동68', 'age': 68, 'local': '서울68'},
 {'name': '홍길동69', 'age': 69, 'local': '서울69'},
 {'name': '홍길동70', 'age': 70, 'local': '서울70'},
 {'name': '홍길동71', 'age': 71, 'local': '서울71'},
 {'name': '홍길동72', 'age': 72, 'local': '서울72'},
 {'name': '홍길동73', 'age': 73, 'local': '서울73'},
 {'name': '홍길동74', 'age': 74, 'local': '서울74'},
 {'name': '홍길동75', 'age': 75, 'local': '서울75'},
 {'name': '홍길동76', 'age': 76, 'local': '서울76'},
 {'name': '홍길동77', 'age': 77, 'local': '서울77'},
 {'name': '홍길동78', 'age': 78, 'local': '서울78'},
 {'name': '홍길동79', 'age': 79, 'local': '서울79'},
 {'name': '홍길동80', 'age': 80, 'local': '서울80'},
 {'name': '홍길동81', 'age': 81, 'local': '서울81'},
 {'name': '홍길동82', 'age': 82, 'local': '서울82'},
 {'name': '홍길동83', 'age': 83, 'local': '서울83'},
 {'name': '홍길동84', 'age': 84, 'local': '서울84'},
 {'name': '홍길동85', 'age': 85, 'local': '서울85'},
 {'name': '홍길동86', 'age': 86, 'local': '서울86'},
 {'name': '홍길동87', 'age': 87, 'local': '서울87'},
 {'name': '홍길동88', 'age': 88, 'local': '서울88'},
 {'name': '홍길동89', 'age': 89, 'local': '서울89'},
 {'name': '홍길동90', 'age': 90, 'local': '서울90'},
 {'name': '홍길동91', 'age': 91, 'local': '서울91'},
 {'name': '홍길동92', 'age': 92, 'local': '서울92'},
 {'name': '홍길동93', 'age': 93, 'local': '서울93'},
 {'name': '홍길동94', 'age': 94, 'local': '서울94'},
 {'name': '홍길동95', 'age': 95, 'local': '서울95'},
 {'name': '홍길동96', 'age': 96, 'local': '서울96'},
 {'name': '홍길동97', 'age': 97, 'local': '서울97'},
 {'name': '홍길동98', 'age': 98, 'local': '서울98'},
 {'name': '홍길동99', 'age': 99, 'local': '서울99'},
 {'name': '홍길동100', 'age': 100, 'local': '서울100'}]

In [166]:
a = 20
b = 30
hap = a + b
hap

50

In [ ]:
### 2개의 매개변수를 전달 받아서
# 매개변수들의 합을 리턴하는 함수 생성하기
# 함수 이름 : getHap
def getHap(a, b) : 
    return a + b

In [170]:
getHap(10, 50)

60

In [172]:
def getHap(a, b=10) : 
    return a + b

In [176]:
getHap(20, 50)  # 튜플형태로 리턴합니다.

70

In [177]:
def getHap(a, b=10) : 
    return a , b, a, b

In [178]:
getHap(20, 50)

(20, 50, 20, 50)

In [188]:
### 4칙연산을 수행하는 함수를 만들어 주세요.
# 두개의 값과 한개의 연산기호를 매개변수로 받아서 처리
# 리턴값은 연산기호를 통해 연산된 값을 리턴
# 함수이름 getMath
def getMath(mode, x, y) :
    if mode == '+' : 
        return x + y
    elif mode == '-' :
        return x - y
    elif mode == '*' :
        return x * y
    elif mode == '/' :
        return x / y
    else :
        return "NONO"

In [191]:
print(getMath("+", 30, 10))
print(getMath("-", 30, 10))
print(getMath("*", 30, 10))
print(getMath("/", 30, 10))

40
20
300
3.0

In [186]:
# 내가 해본거...
def getMath(x,y,z) :
    if z == '+' : 
        return x + y
    if z == '-' :
        return x - y
    if z == '*' :
        return x * y
    if z == '/' :
        return x / y

In [184]:
getMath(2,4,'*')

8

In [193]:
def getModeEval(mode, a, b) :  
    return eval("a" + mode + "b")   # 파이썬함수 eval

In [194]:
print(getModeEval("+", 30, 10))
print(getModeEval("-", 30, 10))
print(getModeEval("*", 30, 10))
print(getModeEval("/", 30, 10))

40
20
300
3.0

In [195]:
b = 50
eval("1 + b")

51

In [196]:
# 예외처리
b = 50
try : 
    print(eval("1 + b"))
except : 
    pass

51